@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

// font-family: 'Gochi Hand', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Yantramanav', sans-serif;

#trending {
  font-family: 'Roboto', sans-serif;
  .featured-products-container {
    .product-card-content {
      a {
        color: #727272;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 700;
      }
      .product-title {
        font-family: 'Yantramanav', sans-serif;
        font-size: 17px;
        color: black;
        font-weight: 600;
      }
      .product-category {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: initial;
      }
      span {
        font-family: 'Yantramanav', sans-serif;
        font-size: 14px;
        font-weight: 800;
      }
    }
  }
}
