@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yantramanav", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

#featured .featured-container .row .product-card span {
  font-size: 48px;
  font-family: "Gochi Hand", cursive;
  text-transform: capitalize;
}
#featured .featured-container .row .product-card #featured-text {
  color: white;
}
#featured .featured-container .row .product-card .product-card-details {
  font-family: "Roboto", sans-serif;
}
#featured .featured-container .row .product-card .product-card-details .product-detail-content {
  font-size: 11px;
  color: #5a5a5a;
}
#featured .featured-container .row .product-card .product-card-details .product-detail-content .product-detail-title {
  font-size: 17px;
  color: black;
}
#featured .featured-container .row .product-card .product-card-details p {
  font-size: 34px;
  font-weight: 900;
}

#featured-products {
  font-family: "Roboto", sans-serif;
}
#featured-products .featured-products-content {
  text-align: center;
  text-transform: uppercase;
}
#featured-products .featured-products-content span {
  font-size: 11px;
  font-weight: 500;
  color: #727272;
}
#featured-products .featured-products-content h2 {
  font-family: "Yantramanav", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
#featured-products .featured-products-filter button {
  font-family: "Yantramanav", sans-serif;
  font-weight: 900;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}
#featured-products .featured-products-container .product-card-content a {
  color: #727272;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}
#featured-products .featured-products-container .product-card-content .product-title {
  font-family: "Yantramanav", sans-serif;
  font-size: 17px;
  color: black;
  font-weight: 600;
}
#featured-products .featured-products-container .product-card-content .product-category {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: initial;
}
#featured-products .featured-products-container .product-card-content span {
  font-family: "Yantramanav", sans-serif;
  font-size: 14px;
  font-weight: 800;
}

.custom-button {
  font-size: 14px;
  border: 2px solid #000;
  padding: 20px 70px;
  background: transparent;
  transition: 0.4s ease-in;
  font-weight: 600;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #000;
  color: #fff;
}

.add-to-basket-button {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: 0.4s ease-in;
}

.add-to-basket-button:hover {
  fill: white;
  background-color: black;
}

.add-to-fav-button {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: 0.4s ease-in;
}

.add-to-fav-button:hover {
  fill: white;
  background-color: black;
}

.new-product-icon {
  position: absolute;
  width: 35px;
  height: 15px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: black;
  color: white;
  cursor: text;
  z-index: 10;
  font-size: 9px;
}

.sale-product-icon {
  position: absolute;
  width: 35px;
  height: 15px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #eeedeb;
  color: black;
  cursor: text;
  z-index: 10;
  font-size: 9px;
}

#header .swiper-button-next:after,
#header .swiper-button-prev:after {
  color: #000;
  font-size: 20px;
}
#header .discount-message {
  background-color: #fff;
  height: 100%;
}
#header .discount-message .message {
  text-align: center;
  display: block;
  font-size: 12px;
  color: #727272;
  line-height: 40px;
}
#header .discount-message .close-btn {
  position: absolute;
  font-size: 25px;
  top: 2px;
  right: 15px;
  color: #000;
  background: none;
  border: none;
  cursor: pointer;
}
#header .swiper-wrapper {
  height: 95vh;
}
#header .swiper-slide {
  height: 100%;
  overflow: hidden;
}
#header .swiper-slide .slider-title {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: 8%;
}
#header .swiper-slide .slider-title .slider-heading {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: clamp(2.5rem, 4vw, 4.9rem);
  max-width: 90%;
  transition: all 0.5s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
#header .swiper-slide .slider-title .slider-heading .char {
  transform: translateY(210px);
  transition: all 0.5s;
  will-change: transform;
}
#header .swiper-slide .slider-title p {
  animation: slideTitle 0.8s ease both;
}
#header .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#header .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000;
}
#header .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #000;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

@media only screen and (max-width: 992px) {
  #header .swiper-slide .slider-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 2;
  }
  #header .swiper-slide .slider-title .slider-heading {
    color: #fff;
    font-size: 50px;
  }
  #header .swiper-slide .slider-title .custom-button {
    border-color: #fff;
  }
  #header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
#nav {
  position: absolute;
  z-index: 5;
  width: 100%;
  transition: all 0.3s ease-in;
}
#nav.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transition: all 0.3s ease-in;
  animation: fadeInDown 0.5s ease-in-out;
}
#nav .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .navbar-container .leftside-nav .logo {
  width: 75%;
  padding-left: 17px;
}
#nav .navbar-container .leftside-nav .logo img {
  -o-object-fit: cover;
     object-fit: cover;
}
#nav .navbar-container .middle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .navbar-container .middle-nav .navbar-items {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item {
  position: relative;
  font-weight: 900;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .navbar-link {
  line-height: 100px;
  position: relative;
  transition: all 0.3s ease-in;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .navbar-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .navbar-link.active::before {
  content: "";
  position: absolute;
  top: 60%;
  height: 2px;
  background: #000;
  transform: scaleX(1);
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .navbar-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .subMenu {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  background: #fff;
  width: 240px;
  padding: 28px 0px 5px 15px;
  font-size: 15px;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .subMenu .subMenu-item {
  padding-bottom: 15px;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .subMenu .subMenu-link {
  position: relative;
  padding-bottom: 10px;
  transition: all 0.3s ease-in;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .subMenu .subMenu-link::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item .subMenu .subMenu-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
#nav .navbar-container .middle-nav .navbar-items .multiple {
  position: absolute;
  left: -300px;
  padding: 40px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  background: #fff;
}
#nav .navbar-container .middle-nav .navbar-items .multiple .multiple-subMenu {
  display: flex;
  justify-content: center;
  background: #fff;
}
#nav .navbar-container .middle-nav .navbar-items .multiple .multiple-subMenu .multiple-subMenu-items {
  padding: 30px 50px;
  width: 100%;
}
#nav .navbar-container .middle-nav .navbar-items .multiple .multiple-subMenu .multiple-subMenu-items span {
  color: #727272;
  font-size: 10px;
}
#nav .navbar-container .middle-nav .navbar-items .multiple .multiple-subMenu .multiple-subMenu-items .multiple-subMenu-item .multiple-item {
  white-space: nowrap;
  padding: 7px 0;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item:hover .multiple {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item:hover .multiple .multiple-link {
  position: relative;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item:hover .multiple .multiple-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item:hover .multiple .multiple-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
#nav .navbar-container .middle-nav .navbar-items .navbar-item:hover .subMenu {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
}
#nav .navbar-container .rightside-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
#nav .navbar-container .rightside-nav .action-icons {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
}
#nav .navbar-container .rightside-nav .action-icons span {
  padding-right: 25px;
}
#nav .navbar-container .rightside-nav .basket {
  background-color: #000;
  min-height: 100%;
  padding: 39px 40px;
  color: white;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mobile-header-top .menu-btn {
  background: #fff;
  padding: 12px 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.mobile-header-top .menu-btn__burger {
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease;
}
.mobile-header-top .menu-btn__burger::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease;
  transform: translateY(-8px);
}
.mobile-header-top .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease;
  transform: translateY(8px);
}
.mobile-header-top .menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.mobile-header-top .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.mobile-header-top .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}
.mobile-header-top .mobile-nav-container {
  position: relative;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.mobile-header-top .mobile-nav-container .dark-logo {
  width: 100px;
  min-height: 100%;
}
.mobile-header-top .mobile-nav-container .dark-logo img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.mobile-header-top .mobile-nav-container .mobile-nav-actions {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 18px;
}

#mobile-nav {
  visibility: hidden;
  width: 100%;
  opacity: 0;
  position: absolute;
  background: #fff;
  z-index: 2;
  padding: 0 30px;
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.3s ease;
}
#mobile-nav.active {
  width: 100%;
  visibility: visible;
  transform-origin: top center;
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s ease;
}
#mobile-nav .mobile-navbar-items {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 34px 0;
}
#mobile-nav .mobile-navbar-items .mobile-navbar-item {
  position: relative;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 7px 0;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
#mobile-nav .mobile-navbar-items .mobile-navbar-item .mobile-subMenu-items {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
#mobile-nav .mobile-navbar-items .mobile-navbar-item .mobile-subMenu-items .mobile-subMenu-item {
  padding: 6px 0 7px;
}
#mobile-nav .mobile-navbar-items .mobile-navbar-link {
  transition: all 0.3s ease;
  position: relative;
}
#mobile-nav .mobile-navbar-items .mobile-navbar-link .right-chevron {
  position: absolute;
  transform: rotate(0deg);
  transition: all 0.3s;
  right: 4px;
}
#mobile-nav .mobile-navbar-items .mobile-subMenu-item {
  position: relative;
}
#mobile-nav .mobile-navbar-items .mobile-subMenu-item .mobile-subMenu-link {
  transition: all 0.3s ease;
}
#mobile-nav .mobile-navbar-items .mobile-subMenu-item .mobile-subMenu-link .right-chevron {
  position: absolute;
  transform: rotate(0deg);
  transition: all 0.3s;
  right: 4px;
}
#mobile-nav .mobile-navbar-items .mobile-navbar-item.active .mobile-subMenu-items {
  max-height: 500px;
  transition: all 0.3s ease;
  padding: 0 15px 15px 15px;
  opacity: 1;
  visibility: visible;
}
#mobile-nav .mobile-navbar-items .mobile-navbar-item.active .right-chevron {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

#featured .featured-container {
  padding: 120px 70px 0 70px;
}
#featured .featured-container .row .product-card {
  padding: 0;
  position: relative;
}
#featured .featured-container .row .product-card span {
  position: absolute;
  top: 25px;
  left: 45px;
}
#featured .featured-container .row .product-card img {
  width: 100%;
}
#featured .featured-container .row .product-card .add-to-basket-button {
  bottom: 45px;
  right: 45px;
}
#featured .featured-container .row .product-card .product-card-details {
  transform: scaleY(0);
  position: absolute;
  width: 350px;
  height: 350px;
  max-width: 65%;
  max-height: 65%;
  bottom: 35px;
  right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  transform-origin: bottom;
  transition: 0.4s;
}
#featured .featured-container .row .product-card .product-card-details .product-detail-content {
  display: flex;
  flex-direction: column;
}
#featured .featured-container .row .product-card .product-card-details p {
  margin: 0;
}
#featured .featured-container .row .product-card .product-card-details .add-to-fav-button {
  top: 15px;
  right: 15px;
}
#featured .featured-container .row .product-card:hover .product-card-details {
  transform: scaleY(1);
}

@media screen and (max-width: 480px) {
  #featured .featured-container .row .product-card .product-card-details {
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
  }
}
#featured-products {
  padding: 120px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured-products .featured-products-content h2 {
  padding-bottom: 20px;
}
#featured-products .featured-products-filter {
  display: flex;
  gap: 32px;
  margin-bottom: 35px;
}
#featured-products .featured-products-filter button {
  border: none;
  background: transparent;
  position: relative;
}
#featured-products .featured-products-filter button::after {
  content: "";
  height: 2px;
  background-color: black;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
#featured-products .featured-products-filter button:hover::after {
  width: 100%;
}
#featured-products .featured-products-container .featured-products-card {
  position: relative;
  box-sizing: border-box;
  max-width: 350px;
  max-height: 600px;
  border: 1px solid #cacaca;
  outline: 1px solid transparent;
  transition: outline 0.35s ease-in;
  padding: 65px 35px 25px;
  cursor: pointer;
}
#featured-products .featured-products-container .featured-products-card .new-product-icon {
  top: 35px;
  left: 35px;
}
#featured-products .featured-products-container .featured-products-card .sale-product-icon {
  top: 35px;
  left: 35px;
}
#featured-products .featured-products-container .featured-products-card .swiper-button-next::after,
#featured-products .featured-products-container .featured-products-card .swiper-button-prev::after {
  color: black;
  font-size: 14px;
  opacity: 0;
  transition: 0.2s;
}
#featured-products .featured-products-container .featured-products-card .add-to-fav-button {
  top: 15px;
  right: 15px;
}
#featured-products .featured-products-container .featured-products-card .add-to-basket-button {
  bottom: 15px;
  right: 15px;
}
#featured-products .featured-products-container .featured-products-card .swiper {
  height: 380px;
  display: block;
}
#featured-products .featured-products-container .featured-products-card .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#featured-products .featured-products-container .featured-products-card .swiper-slide img {
  display: block;
  max-width: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}
#featured-products .featured-products-container .featured-products-card .product-card-content {
  display: flex;
  flex-direction: column;
}
#featured-products .featured-products-container .featured-products-card .product-card-content .product-title {
  padding-top: 8px;
}
#featured-products .featured-products-container .featured-products-card .product-card-content span {
  padding-top: 8px;
}
#featured-products .featured-products-container .featured-products-card:hover {
  border-color: black;
  outline: 1px solid black;
  z-index: 3;
}
#featured-products .featured-products-container .featured-products-card:hover .swiper-button-next::after,
#featured-products .featured-products-container .featured-products-card:hover .swiper-button-prev::after {
  color: black;
  font-size: 14px;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */