#street-vibe{
    background-image: url("https://dunker.qodeinteractive.com/wp-content/uploads/2023/01/h1-parallax-img-001.jpg");
    min-height: 700px;;
    background-position: center;    
    background-size: cover;
    min-height: 700px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    max-width: 100%;
    .street-title{
        margin-left: auto;
        display: block;
        width: 366px;
        h2{
            font-weight: 700;
            color: black;
            font-size: 60px;
        }
        span{
            font-family: sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
            color: gray;

        }
           .custom-button{
            margin-top: 20px;
            display: inline-block
           }
           
            
          
            
        
       
    }

}
@media only screen and (max-width: 768px) {
    #street-vibe {
    .street-title{
        text-align: left;
        margin-right: auto;
        margin-left: 10px;
    }
    }
  }
#elementor-section{
    border-collapse: collapse;
    display: flex;
   justify-content: center;
   align-items: center;
padding: 100px;
div{
    text-align: center;
    border-collapse: collapse;
 border: 1px solid #ccc;
transition: .3s; 
}
div:hover{
border: 1px solid black;

}
}
#content-section{
    padding: 20px 130px;
    
    .content-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .services{
        display: flex;
        align-items: center;
        padding: 25px  30px;   
        
         
        
        
        span{
            font-weight: 600;
            font-size: 17px;
        }
        }
        .content-logo{
            display: flex;
            justify-content: center;
            padding: 25px  30px; 
        }

    }

}